geckodriver.log
bird/
cat/
dog/
domestic cat/
dt_bird/
dt_cat/
dt_dog/
public_bird/
public_cat/
public_dog/
*.log
data.h5
ca2data.h5
data128.h5
.idea/misc.xml
.idea/modules.xml
.idea/PRMLS-CA2-project.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/other.xml
test_results/20190921/PRMLS_CA2_74.54.hdf5
optimize_img/PRMLS_CA2_74.54.hdf5
optimize_img/img_128.h5
unfit_img/
test_results/20190923/PRMLS_CA2_Ensemble_NN_1_79.61.hdf5
test_results/20190923/PRMLS_CA2_Ensemble_NN_2_79.61.hdf5
test_results/20190923/PRMLS_CA2_Ensemble_NN_79.61.hdf5
models/
PRMLS_CA2.hdf5
PRMLS_CA2_model.pdf
PRMLS_CA2.csv
test_results/20190924/PRMLS_CA2._75.07.hdf5
test_results/20190924/PRMLS_CA2_7498.hdf5
PRMLS_CA2_Ensemble_NN_2.hdf5
PRMLS_CA2_Ensemble_NN.hdf5
PRMLS_CA2_Ensemble_NN.csv
PRMLS_CA2_Ensemble_NN_1.hdf5
*.pyc
test_results/20190928/PRMLS_CA2_7795.hdf5
PRMLS_CA2_7795.hdf5
PRMLS_CA2_7631.hdf5
PSUPR_CA2_7631.ipynb
PSUPR_CA2_7795.ipynb
optimize_img/
test_results/20190929/PRMLS_CA2_8039.hdf5
test_results/20190929/PRMLS_CA2_7749.hdf5
test_results/20190929/PRMLS_CA2_7681.hdf5
test_results/20190929/PRMLS_CA2_7643.hdf5
test_results/20190928/PRMLS_CA2_Ensemble_NN_8493.hdf5
PRMLS_CA2_7507.hdf5
test_results/20190929/PRMLS_CA2_Ensemble_NN_8396.hdf5
test_results/20190929/PRMLS_CA2_Ensemble_NN_8126.hdf5
test_results/20190929/PRMLS_CA2_7970.hdf5
PRMLS_CA2_8191.hdf5
PRMLS_CA2_8039.hdf5
PRMLS_CA2_7970.hdf5
PRMLS_CA2_testing.hdf5
